.about { margin: 80px 40px 40px 40px;position: relative; }
.about-title {
    margin-bottom: 15px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
}
.about-whoAmI {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4em;
}
.about-me { margin-bottom: 20px; }
.about-me span, .about-me-more span { color: cornflowerblue; }
.about-me-more a {
    color: cornflowerblue;
    text-decoration: none;
}.about-me-more a:hover { text-decoration: underline; }
.about-contact-btn a {
    color: #fff;
    background-color: steelblue;
    justify-content: center;
    display: flex;
    width: 120px;
    padding: 8px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    text-decoration: none;
    margin-top: 10px;
}.about-contact-btn a:hover {
    background-color: rgb(46, 110, 162);
    text-decoration: underline;
    cursor: pointer;
}
.about-container-2 { display: flex;flex-wrap: wrap;justify-content: center;margin-top: 25px; }
