.portfolio {
    display: flex;
    position: relative;
    width: 100%;
    height: 690px;
}.portfolio span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio-container {
    margin: 80px 40px;
    color: #fff;
}
.portfolio-hi {
    font-size: 60px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 0;
}
.portfolio-im {
    font-size: 60px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
}
.portfolio-more {
    border: 1px solid #fff;
    padding: 12px;
    margin: 15px 0;
    display: inline-flex;
}.portfolio-more:hover {
    border: 1px solid forestgreen;
    color: aquamarine;
    cursor: pointer;
}
