.contact-helper { width: 100%; }
.contact { margin: 80px 40px 40px 40px; }
.contact-title {
    margin-bottom: 15px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
}
.contact-page {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4em;
}
.contact-innerContainer { display: flex;align-items: center;justify-content: space-between; }
.contact-info { margin-right: 20px; }

.contact-us-h1 { margin-top: 0; }

.contact-us-more-reach { margin: 40px 0; }
.contact-us-more-busniss, .contact-us-more-feedback {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 10px;
}
.contact-us-more-feedback-description {
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.contact-us-more-busniss-description {
    font-size: 15px;
    font-weight: lighter;
}
.contact-email {
    display: flex;
    margin: 10px 0;
}
.contact-us-more-email {
    color: black;
    display: inline-flex;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}.contact-us-more-email:hover { border-bottom: 1px solid rgb(218, 218, 218); }
.contact-us-more-git a {
    color: black;
    font-size: 22px;
    display: inline-flex;
    margin-right: 10px;
}.contact-us-more-git a:hover { padding-left: 0.5px;color: cornflowerblue; }
.contact-us-more-git a svg {
    height: 25px;
    width: 25px;
}
