/* Header */
.headerHelper {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px 20px 15px;
    z-index: 9999;
}
.headerWrapper {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.header-container {
    background-color:white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.header-add-black-theme { background-color: #000; }
.header-logo {
    width: 25px;
}.header-logo:hover {
    cursor: pointer;
}.header-logo img {
    width: 100%;
}
.header-navs {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}
.nav-menu {
    background: transparent;
    border: none;
    cursor: pointer;
}.nav-menu svg { height: 20px; }

.header-navs-version, .header-navs-portfolio, .header-navs-about, .header-navs-projects, .header-navs-skills {
    margin-bottom: 5px;
}
.header-navs-version a, .header-navs-portfolio a, .header-navs-projects a, .header-navs-about a, .header-navs-skills a, .header-navs-contact a {
    text-decoration: none;
    color: #818182
}.header-navs-version a:hover, .header-navs-portfolio a:hover, .header-navs-projects a:hover, .header-navs-about a:hover, .header-navs-skills a:hover, .header-navs-contact a:hover {
    color: #000;
    cursor: pointer;
}.active {
    color: #000;
    border-bottom: 1px solid cornflowerblue;
    cursor: default;
}
.header-navs-version a.theme-black:hover, .header-navs-portfolio a.theme-black:hover, .header-navs-projects a.theme-black:hover, .header-navs-about a.theme-black:hover, .header-navs-skills a.theme-black:hover, .header-navs-contact a.theme-black:hover {
    color: #fff;
    cursor: pointer;
}
.header-navs-color {
    position: relative;
}.header-navs-color .header-theme {
    background-color: black;
    color: rgba(255, 255, 255, .64);
    padding: 7px 0 6px 20px;
    width: 150px;
    position: absolute;
    top: 32px;
    right: 0;
    border-radius: 8px 0 8px 8px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35);
    box-shadow: 0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35);
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.header-navs-color .header-theme .header-theme-color {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.header-navs-color .header-theme .header-theme-color:hover {
    color: rgba(255, 255, 255, .94);
    cursor: pointer;
}.header-navs-color .header-theme .header-theme-color.theme-active {
    color: #fff;
    cursor: default;
}
.header-navs-color .header-theme::before {
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #000;
    width: 0;
    height: 0;
    position: absolute;
    right: 8px;
    top: -6px;
    z-index: 9999;
}
.header-navs-color .header-theme-black {
    background-color: #fff;
    color: rgba(0, 0, 0, .64);
    padding: 7px 0 6px 20px;
    width: 150px;
    position: absolute;
    top: 32px;
    right: 0;
    border-radius: 8px 0 8px 8px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35);
    box-shadow: 0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35);
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.header-navs-color .header-theme-black .header-theme-color {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.header-navs-color .header-theme-black .header-theme-color:hover {
    color: rgba(0, 0, 0, .94);
    cursor: pointer;
}.header-navs-color .header-theme-black .header-theme-color.theme-active {
    color: #000;
    cursor: default;
}
.header-navs-color .header-theme-black::before {
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    width: 0;
    height: 0;
    position: absolute;
    right: 8px;
    top: -6px;
    z-index: 9999;
}
.header-theme-close {
    -moz-animation: propertieFadeOut 5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    -webkit-animation: propertieFadeOut 5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    -o-animation: propertieFadeOut 5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: propertieFadeOut 5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.header-navs-color img {
    height: 25px;
    cursor: pointer;
}

.header-copyright {
    margin: 40px 0;
    font-size: 13px;
    text-align: center;
    color: gray;
}



@media screen and (max-width: 576px) {
    .mobile-576 { display: flex;align-items: center; }
    .mobile-576 button { margin-right: 10px; }
    .headerHelper { padding: 0; }
    .headerWrapper {
        padding: 0;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    .header-container {
        display: flex;
        flex-direction: column;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 3;
        background: black;
        padding: 10px 10px 5px 10px;
    }
    .logo-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .header-navs {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 10px 0 15px;
    }
    .header-navs-version a, .header-navs-portfolio a, .header-navs-projects a, .header-navs-about a, .header-navs-skills a, .header-navs-contact a {
        display: block;
        width: 100%;
    }.header-navs-version a:hover,.header-navs-portfolio a:hover, .header-navs-projects a:hover, .header-navs-about a:hover, .header-navs-skills a:hover, .header-navs-contact a:hover {
        color: white;
    }.header-navs-portfolio .active, .header-navs-projects .active, .header-navs-about .active, .header-navs-skills .active, .header-navs-contact .active {
        color: cornflowerblue;
    }
    .active { border: none }
}

@-webkit-keyframes propertieFadeOut {
    0% {
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    } 98% {
        background-color: black;
        opacity: 1;
        width: 150px;
    } 99% {
        opacity: 0.3;
        width: 75px;
    } 100% {
        display: none;
    }
}
@keyframes propertieFadeOut {
    0% {
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    } 98% {
        background-color: black;
        opacity: 1;
        width: 150px;
    } 99% {
        opacity: 0.3;
        width: 75px;
    } 100% {
        display: none;
    }
}
